<!DOCTYPE html>
<html>
  <head>
    <title>Teste de Deploy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Teste de Deploy no domingo</h1>

    <div>
    <p>Deseja comprar esse celular</p>   

    Clique no telefone para comparar <a href="https://api.whatsapp.com/send?phone=5547984349762&text=Ol%E1%20gostaria%20de%20mais%20informa%E7%F5es%20sobre%20o%20produto%21" target="blank">Clique para saber mais</a> 
    <img src="https://images.lojaiplace.com.br/imagens/large/iphone-11-pro-max-prata_z_large.jpg?ims=410x410">        
    </div>    
  </body>
</html>
